body{
  height: 100vh;
  background: rgb(27,22,31);
  background: linear-gradient(180deg, rgba(27,22,31,1) 0%, rgba(100,147,161,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.About, .Cv,.Cont{
  position: relative;
  width: 350px;
  height: 470px;
  background: rgb(100,147,161);
  background: linear-gradient(180deg, rgba(100,147,161,1) 0%, rgba(255,255,255,1) 100%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

}



.myFoto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myFoto img{
  width: 120px;
  border-radius: 100px;
  box-shadow: 1px 4px 15px black;
  margin-top: 40px;
}

.myName{
  font-weight: bold;
  font-size: 23px;
  margin-top: 5px;
}

.prof{
  letter-spacing: 1.2px;
  font-weight: 500;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  align-items: center;
}

.infos{
  width: 90%;
}

.sobre-mim{
  font-weight: bold;
  margin-top: 40px;
}

.text-sobre{
  margin-top: 20px;
}

.redes{
  width: 90%;
  display: flex;
  margin-top:40px;
}

.icon{
  margin-left: 20px;
}

.Aba{
  color: black;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

#sb{
  background: rgb(27,22,31);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(100,147,161,0.4) 100%);
  border-radius: 0 0 0 8px;
  border-width: 0 0 3px;
  border-style: solid;
  height: 57px;
}

#cv{
  background: rgb(27,22,31);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(100,147,161,0.4) 100%);

}

#ct{
  background: rgb(27,22,31);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(100,147,161,0.4) 100%);
  border-radius: 0 0 8px 0;

}

#sb:hover, #cv:hover, #ct:hover{
  background-color: rgba(100,147,161,0.1);
}

.fotoCv img{
  width: 70px;
  height: 70px;
  border-radius: 100px;

  
}

.fotoCv{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.names{
  margin-left: 10px;
}

.cv-list{
  width: 90%;
  height: 330px;
  overflow: hidden;
}

.formacao{
  margin-top: 40px;
  font-weight: 600;
}
 
.inst{
  margin-top: 10px;
}
.data{
  font-weight: 600;
  font-size: 13px;
}

.mg{
  margin-top: 10px;
}


.habi{
  width: 80%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.skill{
  width: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
}

.download{
  background: transparent;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.pais{
  display: flex;

  align-items: center;
  margin-top: 20px;
}

.line{
  width: 1px;
  height: 35px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.city{
  margin-left: 10px;
}

.cnt{
  width: 90%;
}

.whats{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(100,147,161,1);
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}


.fade-enter {
  height: 0;
  opacity: 0;
  transition: height 300ms, opacity 300ms;
}

.fade-enter-active {
  height: auto;
  opacity: 1;
}

.fade-exit {
  height: auto;
  opacity: 1;
  transition: height 300ms, opacity 300ms;
}

.fade-exit-active {
  height: 0;
  opacity: 0;
}


.env-habi{
  width: 90%;
}
